@import "_variables";

%sns_button {
  border: transparent;

  background-color: transparent;
  background-size: cover;

  background-position: center center;
}

%responsive {
  @media screen and (min-width: $pc_min_width) {
    width: $pc_page_width;
    height: 100vh;
    position: absolute;
    left: 50%;
    margin: 0 0 0 calc(-18000vh / 760);
    .bg {
      width: $pc_page_width;
    }
  }
  // 세로방향
  @media screen and (min-width: $tablet_min_width) and (max-width: $tablet_max_width) and (orientation: portrait) {
    width: $pc_page_width;
    height: 100vh;
    position: absolute;
    left: 50%;
    margin: 0 0 0 calc(-18000vh / 760);
    .bg {
      width: $pc_page_width;
    }
  }
  //가로방향
  @media screen and (min-width: $tablet_min_width) and (max-width: $tablet_max_width) and (orientation: landscape) {
    width: $pc_page_width;
    height: 100vh;
    position: absolute;
    left: 50%;
    margin: 0 0 0 calc(-18000vh / 760);
    .bg {
      width: $pc_page_width;
    }
  }
  @media screen and (max-width: $mobile_max_width) {
    width: 100vw;
    height: 100vh;
    margin: 0;
    &::-webkit-scrollbar {
      display: none;
    }
    .bg {
      width: 100vw;
    }
  }
}

%body {
  width: $pc_page_width;
  margin: 0;
}

%input {
  div {
    font-family: "NanumSquareEB", sans-serif;
    color: #3b3b3b;
  }
  input {
    width: calc(27200% / 280);

    font-family: "NanumSquareR", sans-serif;
    font-size: calc(1200vh / 760);
    line-height: calc(1300vh / 760);
    color: #3b3b3b;

    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 2px solid rgba($color: #70d7fa, $alpha: 1);

    padding-top: 0;
    padding-right: 0;
    padding-left: calc(400% / 280);
    padding-bottom: calc(800vh / 760);

    &::placeholder {
      color: rgba($color: #3b3b3b, $alpha: 0.3);
    }

    &:focus {
      outline: none;
      text-align: left;
    }
  }
}

%back {
  width: 100%;
  height: calc(2000vh / 760);

  padding-top: calc(4800vh / 760);

  display: flex;
  .back {
    width: calc(2000% / 360);
    height: calc(2000vh / 760);
    svg {
      width: 100%;
      height: calc(2000vh / 760);
    }
    padding-left: calc(4000% / 360);
  }
}
