@mixin bottom_button($bgcolor, $border) {
  background: $bgcolor;
  border: $border;
  border-radius: 100px;

  width: calc(31200% / 360);
  height: calc(3200vh / 760);

  margin-left: calc(2400% / 360);

  font-family: "NanumSquareEB", sans-serif;
  font-size: calc(1400vh / 760);
  line-height: calc(1600vh / 760);

  @if $bgcolor==white {
    color: #3b3b3b;
  } @else {
    color: white;
  }
}
