$pc_min_width: 1024px;
$tablet_min_width: 769px;
$tablet_max_width: 1023px;
$mobile_max_width: 768px;

$xd_page_width: 360px;
$xd_page_height: 760px;

$pc_page_width: calc(36000vh / 760);

$margin_left_1: calc(4000% / 360);
$margin_left_2: calc(2400% / 360);

$word_black: #3b3b3b;
