@import "_variables";
@import "_mixins";
@import "_extends";

body {
  @extend %body;
}
body::-webkit-scrollbar-thumb {
  background: #70d7fa;
  border-radius: 100px;
}
body::-webkit-scrollbar {
  width: calc(800vh / 760);
.bg {
  @extend %background;
}
